node_modules/
**/node_modules

packages/*/out/
bench/roblox-ts/out/
bench/rotor/out/

bench/**/*.rbxlx
bench/**/sourcemap.json

package-lock.json
bench/package-lock.json

bun.lock

*_Store
*.Store

.nvim.lua

scripts
dump.*
